@font-face {
    font-family: 'RobotoB';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'RobotoR';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}